<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="ACTIVE_PROFILE" source="spring.profiles.active" defaultValue="unknown"/>
    <springProperty name="APP_NAME" source="spring.application.name" defaultValue="mercury-order-service"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"${APP_NAME}","env":"${ACTIVE_PROFILE}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>